.register-wrap {
  padding: 100px 30px 30px 30px;
}

.register-form {
  margin-top: 20px;
}

.error-msg {
  color: red;
}

.to_login {
  height: 50px;
  line-height: 50px;
  text-align: center;

  color: blue;
}