.bottom-bar {
    height: 45px;
    position: fixed;
    bottom: 0;
    left: 0; 
    right: 0;
    background: #ffffff;
    padding-top: 5px;
    display: flex;
    box-shadow: 0px -3px 5px rgba(0,0,0,0.1);
}

.bar-item {
    flex: 1;
    text-align: center;
}
.item-icon{
    display: block;
    width: 20px;
    height: 20px;
    background: #cecece;
    margin: 0 auto;
}